/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

body { font: 18px Buda, Arial; background-color: grey; margin-top:15px; }

form {
	background: black;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;

	input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; background: #423f3f; color: white;}

	button { width: 9%; background: #44c9ce; border: none; padding: 10px; }
}

.nickname{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	border-radius: 5px;
	background: #423f3f;
	border: 0;
	color:white;
}
.nickname::placeholder{
	color: #d8d8d8;
}

.message::placeholder{
	color: #d8d8d8;
}

#messages {
	list-style-type: none; margin: 0; padding: 0; color: white;

	li { padding-right: 45px; padding-top:8px; padding-bottom:8px; overflow:hidden;background: #000; margin-left:40px; margin-bottom: 5px;text-align: right; border-radius:15px; height: inherit;padding-left: 5px;}
	li:nth-child(odd) {margin-left:0px; padding-left: 45px; background: #423f3f; margin-right:40px; text-align: left;}
 }
}
